<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>sejmor</title>
</head>
<body>
  <h1>Sejmor</h1>
  <div class="wrap">
    <div class="side">
      <!-- <p>
      <b>Witajcie!</b><br>
      Demokracja ma swoje zalety i wady. Ze względu na 4 letni okres kadencyjny posłowie czasem tracą kontakt z wyborcami i podejmują decyzje wbrew głoszonym przed wyborami poglądami i programami. Dlatego wpadłem na pomysł stworzenia aplikacji internetowej, dzięki której każdy obywatel mógłby głosować w ten sam sposób co posłowie, za projektami ustaw i dzięki temu dowiedzieć się z którymi z posłów zgadzają się. Myślę, że pomogło by to zweryfikować prawdomówność naszych wybrańców oraz pomóc dokonać ludziom wyboru podczasa następnych wyborów nie bazując na emocjach i wrażeniach a na skuteczności w spełnianiu woli wyborców.</p> -->

      <p>Hej, jestem libertarianinem, programistą samoukiem, a to jest mój projekt, który ma na celu poprawienie polskiej demokracji poprzez agregację sympatii do polityków według ich i Waszych głosów.</p><p>Jeśli chcesz wesprzeć projekt możesz przesłać mi parę groszy na chlebek, żebym mógł poświęcić się bardziej tworzeniu projektu (<a href="https://www.paypal.me/fraunos">Paypal</a>).
      </p><p><b>Michał Wołoszyn</b><br><a href="mailto:michal.marian.woloszyn@gmail.com">michal.marian.woloszyn@gmail.com</a></p></div>
    <div class="blog">
      {blog}
    </div>
  </div>

</body>
</html>
