 @import url('https://fonts.googleapis.com/css?family=Spectral');
body {
  font-family: Spectral;
}
#projectList{
  max-width: 30%;

}
li{
      list-style-type: none;
}
#currentProject{
  max-width: 70%;
  background-color: lightgrey;
}
#app{
  display: flex;
}
.uchwalono{
  color: green;
}
