doctype html
html
    head
        link(rel='stylesheet', href='css/index.css')
        title WIP
    body
        h1 Serwis do oceniania polityków
        p Witaj! Serwis jest w trakcie prac, ale przed następnymi wyborami powienien być gotowy!
        p Celem projektu jest stworzenie serwisu, na którym użytkownicy mogliby głosować za ustawami wcielając się w posłów. Na podstawie oceny danej ustawy, czy była pozytywna, czy negatywna oceniane będą głosy posłów. Dzięki temu będziemy mogli zauważyć kto tak na prawdę spełnia oczekiwania wyborców, a kto nie i łatwo naprawić to przy następnym spotkaniu przy urnie.
        p Taka forma przybliżenia demokracji bezpośredniej :) W Szwajcarii na przykład obywatele regularnie blokują szkodliwe pomysły swoich deputowanych, ponieważ mają takie prawo. My musimy jak zwykle kombinować, ale skoro jesteśmy w tym dobzi, to dlaczego nie?
        p Michał Wołoszyn - 9.12.2016
