doctype html
head
  meta(charset="utf-8")
  script(src='https://unpkg.com/vue/dist/vue.js')
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')

body
  h1 To będzie strona logowania

  form#login
    fieldset
      legend Login
      div
        label(for="user") Login:
        input(name="user" type="email")
      div
        label(for="pass") Hasło:
        input(name="pass" type="password")
      div
        input(name="submit" type="submit" value="Zaloguj")
