<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>sejmor</title>
</head>
<body>
  <h1>Sejmor</h1>
  <h2>Strona nie ma szyfrowania HTTPS, ani hashowania danych - nie podawaj haseł, z których korzystasz na innych serwisach!!!<br>Passwords are stored in cleartext! Do not enter passwords you use</h2>
  <h3>Ostatnia aktualizacja {data}</h3>
  <div class="login">
    <form action="/login" method="post">
      <!-- <input type="hidden" name="_csrf" value="{csrfToken}"/> -->
      <p>
        <label>Login:
          <input type="text" name="username" value="test" />
        </label>
      </p>
      <p>
        <label>Hasło:
          <input type="password" name="password" value="test" />
        </label>
      </p>
      <p>
        <button type="submit">Log In</button>
      </p>
      <p>
        <a href="/auth/facebook">Zaloguj przez Facebook (jeszcze nie działa)</a>
      </p>
    </form>
  </div>
</body>
</html>
