<!-- TODO:
1. minimal version: lista projektów ustaw z możliwością głosowania i wyników - zgodność z posłami
2. top lista głosowań
3. media o projekcie
 -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>sejmor</title>
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <h1>sejmor</h1>
  <div id="app">
    <projectList>
      <!-- <form id="search">
      Search <input name="query" v-model="searchQuery">
    </form> -->
      <ul>
        <template v-for="project in projects">
          <li  v-bind:class="{uchwalono: isDone}" v-on:click="fetchProject(project)"><h3>{{project.drukNr}}</h3><span>{{project.tytul}}</span></li>
        </template>
      </ul>
    </projectList>
    <div id="currentProject">
      <h1>{{currentProject.drukNr}}</h1>
      <h2>{{currentProject.status}}</h2>
      <h2>{{currentProject.tytul}}</h2>
      <p>
        <ul>
          <li v-for="deputy in currentProject.deputies">
            {{deputy.vote}} {{deputy.name}} {{deputy.group}}
          </li>
        </ul>
      </p>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/jquery"></script>

<script type="text/x-template" id="projectList-template">
  <span>projectList
  </span>
</script>

<script type="text/x-template" id="project">

</script>


<script type="text/javascript">



  Vue.component('project', {
    props: ['project'],
    template: '<div>{{project.tytul}}</div>'
  })

  var app = new Vue({
    el: '#app',
    data: {
      projects: null,
      currentProject: [],
      isDone: true
    },
    created: function() {
      this.fetchProjects()
    },
    methods: {
      fetchProjects: function() {
        var self = this
        $.getJSON('dev/projekty').done(data => {
          self.projects = data;
        })
      },
      fetchProject: function(project) {
        var self = this
        $.getJSON('dev/projekty/' + project.drukNr).done(data => {
          self.currentProject = data;
        })
      }

    }
  })
</script>

</html>
