
<article class="">
  <h2>Opis projektu</h2>
  <h4>2017-06-15 22:28</h4>
  Witajcie!
  Demokracja ma swoje zalety i wady. Ze względu na 4 letni okres kadencyjny posłowie czasem tracą kontakt z wyborcami i podejmują decyzje wbrew głoszonym przed wyborami poglądami i programami. Dlatego wpadłem na pomysł stworzenia aplikacji internetowej, dzięki której każdy obywatel mógłby głosować w ten sam sposób co posłowie, za projektami ustaw i dzięki temu dowiedzieć się z którymi z posłów zgadzają się. Myślę, że pomogło by to zweryfikować prawdomówność naszych wybrańców oraz pomóc dokonać ludziom wyboru podczasa następnych wyborów nie bazując na emocjach i wrażeniach a na skuteczności w spełnianiu woli wyborców.
</article>
