<article class="">
  <h2>Newralgiczne dane</h2>
  <h4>2017-06-20 19:49</h4>
  Dziś moją uwagę przykuł problem bezpieczeństwa danych. Informacje na temat głosowań użytkowników, a zatem o ich poglądach mogą być wykorzystane na wiele sposóbów, również nieetycznych. Postanowiłem więc, że serwis nie będzie wymagał logowania by z niego korzystać, a dane użytkowników, którzy się nie zarejestrują nie będą zapisywane w bazie danych, zapisywane wyłącznie na ich komputerach w formie ciasteczek. W ten sposób żadne wrażliwe dane nie padną łupem włamywacza.
</article>
